{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{#{% block body %}#}
{#    <h2>View News Articles</h2>#}

{#    {% for article in news %}#}
{#        <h4>{{ article }}</h4>#}
{#        <p>#}
{#            <a href="{{ path('article', { id: article.id }) }}">View</a>#}
{#        </p>#}
{#    {% endfor %}#}
{#    <div>There are {{ news|length }} articles.</div>#}
{#    {% if previous >= 0 %}#}
{#        <a href="{{ path('homepage', { offset: previous }) }}">Previous</a>#}
{#    {% endif %}#}
{#    {% if next < news|length %}#}
{#        <a href="{{ path('homepage', { offset: next }) }}">Next</a>#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block body %}
    <h2 class="mb-5">
        View News Articles
    </h2>

    {% for row in news|batch(2) %}
        <div class="row">
            {% for article in row %}
                <div class="col-12 col-md-6 col-lg-6 mb-4">
                    <div class="card border shadow lift">
                        <a href="{{ path('article', { id: article.id }) }}">
                            <div class="card-body">
                                <div class="card-title">
                                    <div class="mb-3"><img style="width: -webkit-fill-available" alt="Article picture" src="{{ article.picture }}" /></div>
                                    <h4 class="font-weight-light text-black">
                                        {{ article }}
                                    </h4>
                                </div>
                                <p class="text-black">
                                    {{ article.description }}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if previous >= 0 %}
                <li class="page-item"><a class="page-link" href="{{ path('news', { offset: previous }) }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="{{ path('news', { offset: previous }) }}">{{ current_page - 1 }}</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ current_page }}</a></li>
            {% if next < news|length %}
                <li class="page-item"><a class="page-link" href="{{ path('news', { offset: next }) }}">{{ current_page + 1 }}</a></li>
                <li class="page-item"><a class="page-link" href="{{ path('news', { offset: next }) }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}