{% extends 'base.html.twig' %}

{% block title %}News - {{ article }}{% endblock %}

{% block body %}
{#    <h2>{{ article }}</h2>#}

{#    <h4>{{ article.description }}</h4>#}
{#    <small>#}
{#        {{ article.dateAdded|format_datetime('medium', 'short') }}#}
{#    </small>#}

{#    {% if article.picture %}#}
{#        <img alt="Article picture" src="{{ article.picture }}" />#}
{#    {% endif %}#}

{#    <p>{{ article.article }}</p>#}

    <div class="row">
        <div class="col-12">
            <div class="media shadow border rounded-3 p-3 mb-4">
                <h4 class="font-weight-light text-black mb-3">
                    {{ article }}
                </h4>
                <div class="mb-3" style="text-align: center">
                    {% if article.picture %}
                        <a href="{{ article.picture }}" target="_blank">
                            <img src="{{ article.picture }}" alt="Article picture" />
                        </a>
                    {% endif %}
                </div>

                <div class="media-body">
                    <div class="mb-2">
                        <small class="text-muted text-uppercase">
                            {{ article.dateAdded|format_datetime('medium', 'short') }}
                        </small>
                    </div>

                    <p>
                        {{ article.article|nl2br }}
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}